<div class="welcome-container">
    <div class="text-layout">
        <h2>Welcome</h2><br>
        <p style="font-size: 14px;">Zheng Jie Ng, <br><br>
           To commemorate Occam Labs’s 400th Anniversary, we are convening leaders of our most important partners, investee companies and counterparties globally at a special edition of The Occam Conference. <br><br>
           With the theme, Towards a Ecological Future, the forum will seek perspectives from global thought leaders on the pertinent sustainability trends and initiatives that are needed to build a more resilient and equitable future.
        </p>
    </div>
    <div class="image-layout">
        <img class="unsplash" src="../../../assets/unsplash.jpg" alt="unsplash">
    </div>
</div>