<div class="footer-container">
    <div style="width: 60%;">
        <ul>
            <li>Programme</li>
            <li>Speakers</li>
            <li>About</li>
            <li>Networking</li>
        </ul>
        <ul>
            <li>Resources</li>
            <li>Video On Demand</li>
            <li>Downloads</li>
            <li>Help</li>
        </ul>
    </div>
    <div style="margin-left: auto;">
        <ul>
            <li>Connect With Us</li>
        </ul>
        <ul>
            <li><img class="connect" src="../../../assets/youtube.svg" alt="youtube"></li>
            <li><img class="connect" src="../../../assets/linkedin-in.svg" alt="linkedin"></li>
            <li><img class="connect" src="../../../assets/instagram.svg" alt="instagram"></li>
        </ul>
    </div>
</div>
<div>

</div>